# Project Problem Statement:
A Company wants to automate the loan eligibility process based on customer details provided while filling online application form. The details filled by the customer are Gender, Marital Status, Education, Number of Dependents, Income of self and co applicant, Required Loan Amount, Required Loan Term, Credit History and others. The requirements are as follows:

1. Check eligibility of the Customer given the inputs described above.
2. Identify customer segments from given data and categorize customer into one of the segments.
3. If customer is not eligible for the input required amount and duration:

3.1 What can be amount for the given duration. 3.2 If duration is less than equal to 20 years, is customer eligible for required amount for some longer duration? What is that duration?

# Read Dataset

In [2]:
import pandas as pd
from warnings import filterwarnings
filterwarnings("ignore")

In [3]:
A=pd.read_csv("C:/Users/shree/Desktop/DataScience/Day 29 (Project Discussion, Multiclass Classification)/training_set.csv")

# Preview of Data

In [4]:
A

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,NaN,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900.0,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106.0,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072.0,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583.0,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583.0,0.0,133.0,360.0,0.0,Semiurban,N

In [5]:
A.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,NaN,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,NaN,Yes,2,Graduate,Yes,5417.0,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333.0,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036.0,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,NaN,No,4006.0,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841.0,10968.0,349.0,360.0,1.0,Semiurban,N

In [6]:
A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             599 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          613 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    612 non-null    float64
 7   CoapplicantIncome  613 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(5), object(8)
memory usage: 62.5+ KB

In [7]:
A.shape

(614, 13)

# Missing Data Treatment

In [8]:
A.isna().sum()

Loan_ID               0
Gender               15
Married               3
Dependents           15
Education             1
Self_Employed        32
ApplicantIncome       2
CoapplicantIncome     1
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [9]:
from PM6 import replacer
replacer(A)

In [11]:
A.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

# EDA
Separate Cat and con Columns

In [12]:
cat=[]
con=[]
for i in A.columns:
    if A[i].dtypes=="object":
        cat.append(i)
    else:
        con.append(i)

In [13]:
cat

['Loan_ID',
 'Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area',
 'Loan_Status']

In [14]:
con

['ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term',
 'Credit_History']

# Define X & Y

In [15]:
Y=A['Loan_Status']

In [38]:
X=A.drop(labels=['Loan_Status'],axis=1)

In [39]:
X

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001002,Male,No,0,Graduate,No,5849.00000,0.0,146.412162,360.0,1.0,Urban
1,LP001003,Male,Yes,1,Graduate,No,5405.54085,1508.0,128.000000,360.0,1.0,Rural
2,LP001005,Male,Yes,0,Graduate,Yes,3000.00000,0.0,66.000000,360.0,1.0,Urban
3,LP001006,Male,Yes,0,Not Graduate,No,2583.00000,2358.0,120.000000,360.0,1.0,Urban
4,LP001008,Male,No,0,Graduate,No,6000.00000,0.0,141.000000,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900.00000,0.0,71.000000,360.0,1.0,Rural
610,LP002979,Male,Yes,3+,Graduate,No,4106.00000,0.0,40.000000,180.0,1.0,Rural
611,LP002983,Male,Yes,1,Graduate,No,8072.00000,240.0,253.000000,360.0,1.0,Urban
612,LP002984,Male,Yes,2,Graduate,No,7583.00000,0.0,187.000000,360.0,1.0,Urban
613,LP002990,Female,No,0,Graduate,Yes,4583.00000,0.0,133.000000,360.0,0.0,Semiurban

# Skew

In [40]:
X.skew()

ApplicantIncome      6.538870
CoapplicantIncome    7.492000
LoanAmount           2.726601
Loan_Amount_Term    -2.389680
Credit_History      -1.963600
dtype: float64

In [41]:
S=X.skew()
skew=list(S[S>2].index)

In [42]:
skew

['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount']

In [43]:
import numpy as np
from numpy import log
for j in skew:
    w=[]
    for i in X[j]:
        if(i!=0):
            w.append(np.log(i))
        else:
            w.append(i)
    X[j]=w

# One Hot Encoding

In [45]:
cat =['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'Property_Area']

In [46]:
X1=pd.get_dummies(X[cat])

In [47]:
X1

,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1
1,0,1,0,1,0,1,0,0,1,0,1,0,1,0,0
2,0,1,0,1,1,0,0,0,1,0,0,1,0,0,1
3,0,1,0,1,1,0,0,0,0,1,1,0,0,0,1
4,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,1,0,1,0,1,0,0,0,1,0,1,0,1,0,0
610,0,1,0,1,0,0,0,1,1,0,1,0,1,0,0
611,0,1,0,1,0,1,0,0,1,0,1,0,0,0,1
612,0,1,0,1,0,0,1,0,1,0,1,0,0,0,1
613,1,0,1,0,1,0,0,0,1,0,0,1,0,1,0

In [55]:
imp_cat=[]
imp_con=[]

from PM6 import chisq,ANOVA

for i in X.columns:
    if X[i].dtypes=="object":
        q=chisq(A,"Loan_Status",i)
        if (q < 0.05):
            imp_cat.append(i)
    else:
        q=ANOVA(A,"Loan_Status",i)
        if (q < 0.05):
            imp_con.append(i)

In [56]:
imp_cat

['Married', 'Education', 'Property_Area']

In [57]:
imp_con

['Credit_History']

# Preprocessing

In [58]:
from PM6 import preprocessing

imp_col=imp_con+imp_cat
Xnew=preprocessing(X[imp_col])

# Split Data Into Training & Testing set

In [59]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(Xnew, Y, test_size=0.2, random_state=21)

In [60]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

model=lr.fit(xtrain,ytrain)
pred=model.predict(xtest)

In [61]:
from sklearn.metrics import confusion_matrix
confusion_matrix(ytest,pred)

array([[19, 19],
       [ 4, 81]], dtype=int64)

In [62]:
from sklearn.metrics import accuracy_score
accuracy_score(ytest,pred)

0.8130081300813008

In [63]:
from sklearn.metrics import recall_score

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
ytest1 = le.fit_transform(ytest)
pred1 = le.transform(pred)

In [64]:
recall_score(ytest1,pred1)

0.9529411764705882

# Operations On Testing Data

In [65]:
B=pd.read_csv("C:/Users/shree/Desktop/DataScience/Day 29 (Project Discussion, Multiclass Classification)/testing_set.csv")

In [66]:
B.shape

(367, 12)

In [67]:
B.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            367 non-null    object
 1   Gender             356 non-null    object
 2   Married            367 non-null    object
 3   Dependents         357 non-null    object
 4   Education          367 non-null    object
 5   Self_Employed      344 non-null    object
 6   ApplicantIncome    367 non-null    int64
 7   CoapplicantIncome  367 non-null    int64
 8   LoanAmount         362 non-null    float64
 9   Loan_Amount_Term   361 non-null    float64
 10  Credit_History     338 non-null    float64
 11  Property_Area      367 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

# Missing Data Tratment

In [68]:
B.isna().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [69]:
replacer(B)

In [70]:
B.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [71]:
imp_col

['Credit_History', 'Married', 'Education', 'Property_Area']

In [72]:
Bnew=B[imp_col]

In [73]:
Bfinal=preprocessing(Bnew)

In [74]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
model=lr.fit(Xnew,Y)

predicted=model.predict(Bfinal)

In [75]:
B["Pred_LoanStatus"]=predicted

In [76]:
B

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Pred_LoanStatus
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.000000,Urban,Y
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.000000,Urban,Y
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.000000,Urban,Y
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,0.825444,Urban,Y
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.000000,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.000000,Urban,Y
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.000000,Urban,Y
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,0.825444,Semiurban,Y
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.000000,Rural,Y
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.000000,Rural,Y

# If the customer is not eligible for the input required amount and duration:

# What can be the amount for the given duration.

In [77]:
A=pd.read_csv("C:/Users/shree/Desktop/DataScience/Day 29 (Project Discussion, Multiclass Classification)/training_set.csv")

In [78]:
A

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,NaN,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900.0,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106.0,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072.0,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583.0,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583.0,0.0,133.0,360.0,0.0,Semiurban,N

# Missing Data Tratment

In [79]:
replacer (A)

In [80]:
A.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [81]:
A1=A[A["Loan_Status"]=="Y"]

In [82]:
A1

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,146.412162,360.0,1.0,Urban,Y
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.000000,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.000000,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.000000,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417.0,4196.0,267.000000,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
608,LP002974,Male,Yes,0,Graduate,No,3232.0,1950.0,108.000000,360.0,1.0,Rural,Y
609,LP002978,Female,No,0,Graduate,No,2900.0,0.0,71.000000,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106.0,0.0,40.000000,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072.0,240.0,253.000000,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583.0,0.0,187.000000,360.0,1.0,Urban,Y

In [83]:
A.skew()

ApplicantIncome      6.538870
CoapplicantIncome    7.492000
LoanAmount           2.726601
Loan_Amount_Term    -2.389680
Credit_History      -1.963600
dtype: float64

In [84]:
A.corr()[["LoanAmount"]].sort_values(by="LoanAmount")

                   LoanAmount
Credit_History      -0.007738
Loan_Amount_Term     0.038801
CoapplicantIncome    0.187884
ApplicantIncome      0.565552
LoanAmount           1.000000

# ANOVA

In [86]:
imp_cat1=[]


from PM6 import ANOVA

for i in A.columns:
      if A[i].dtypes=="object":
        q=ANOVA(A,i,"LoanAmount")
        if (q < 0.04):
            imp_cat1.append(i)

In [87]:
imp_con1=["ApplicantIncome"]

In [88]:
imp_cat1

['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed']

# Define X & Y

In [90]:
Y1=A1[["LoanAmount"]]

In [91]:
w=pd.get_dummies(A1[imp_cat1])

In [92]:
Xnew=A1[imp_con1].join(w)

# spliting Data Set

In [94]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(Xnew,Y1,test_size=0.2,random_state=21)

from statsmodels.api import OLS,add_constant
xconst=add_constant(xtrain)
ols=OLS(ytrain,xtrain)
model=ols.fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             LoanAmount   R-squared:                       0.395
Model:                            OLS   Adj. R-squared:                  0.381
Method:                 Least Squares   F-statistic:                     26.81
Date:                Wed, 25 May 2022   Prob (F-statistic):           7.00e-32
Time:                        16:17:00   Log-Likelihood:                -1884.7
No. Observations:                 337   AIC:                             3787.
Df Residuals:                     328   BIC:                             3822.
Df Model:                           8
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
ApplicantIncome            0.0084      0.001     12.693      0.000       0.007       0.010
Gender_Female             17.0663      5.839      2.923      0.004       5.580      28.552
Gender_Male               26.5504      4.641      5.721      0.000      17.421      35.679
Married_No                13.7230      4.968      2.762      0.006       3.950      23.496
Married_Yes               29.8936      4.641      6.442      0.000      20.764      39.023
Dependents_0               2.3518      5.752      0.409      0.683      -8.964      13.668
Dependents_1              17.5442      7.965      2.203      0.028       1.875      33.213
Dependents_2               9.9989      7.691      1.300      0.194      -5.131      25.128
Dependents_3+             13.7219     10.539      1.302      0.194      -7.010      34.454
Education_Graduate        29.0138      4.451      6.519      0.000      20.259      37.769
Education_Not Graduate    14.6029      5.387      2.711      0.007       4.005      25.201
Self_Employed_No          13.3962      4.582      2.924      0.004       4.383      22.409
Self_Employed_Yes         30.2205      6.420      4.707      0.000      17.590      42.851
==============================================================================
Omnibus:                      118.690   Durbin-Watson:                   1.899
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1105.925
Skew:                           1.177   Prob(JB):                    7.10e-241
Kurtosis:                      11.557   Cond. No.                     9.79e+19
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.08e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [95]:
P_VAL=list(model.pvalues.sort_values().index)

In [96]:
P_VAL

['ApplicantIncome',
 'Education_Graduate',
 'Married_Yes',
 'Gender_Male',
 'Self_Employed_Yes',
 'Self_Employed_No',
 'Gender_Female',
 'Married_No',
 'Education_Not Graduate',
 'Dependents_1',
 'Dependents_3+',
 'Dependents_2',
 'Dependents_0']

In [97]:
B1=B[B["Pred_LoanStatus"]=="N"]

In [98]:
B1

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Pred_LoanStatus
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.000000,360.000000,0.0,Rural,N
13,LP001094,Male,Yes,2,Graduate,No,12173,0,166.000000,360.000000,0.0,Semiurban,N
25,LP001153,Male,No,0,Graduate,No,0,24000,148.000000,360.000000,0.0,Rural,N
35,LP001203,Male,No,0,Graduate,No,3150,0,176.000000,360.000000,0.0,Semiurban,N
55,LP001313,Male,No,0,Graduate,No,2750,0,130.000000,360.000000,0.0,Urban,N
58,LP001323,Female,Yes,2,Graduate,No,2779,3664,176.000000,360.000000,0.0,Semiurban,N
63,LP001347,Female,No,0,Graduate,No,2101,1500,108.000000,360.000000,0.0,Rural,N
66,LP001352,Male,Yes,0,Not Graduate,No,4700,0,135.000000,360.000000,0.0,Semiurban,N
67,LP001358,Male,Yes,0,Graduate,No,3445,0,130.000000,360.000000,0.0,Semiurban,N
69,LP001361,Male,Yes,0,Graduate,No,2458,5105,188.000000,360.000000,0.0,Rural,N
80,LP001420,Male,Yes,3+,Graduate,No,3829,1103,163.000000,360.000000,0.0,Urban,N
82,LP001445,Male,Yes,2,Not Graduate,No,4136,0,149.000000,480.000000,0.0,Rural,N
84,LP001450,Male,Yes,0,Graduate,No,4456,0,131.000000,180.000000,0.0,Semiurban,N
94,LP001496,Male,Yes,1,Graduate,No,4609,2333,123.000000,360.000000,0.0,Semiurban,N
101,LP001542,Female,Yes,0,Graduate,No,2262,0,136.132597,480.000000,0.0,Semiurban,N
106,LP001563,Male,No,0,Graduate,No,1596,1760,119.000000,360.000000,0.0,Urban,N
117,LP001611,Male,Yes,1,Graduate,No,1516,2900,80.000000,342.537396,0.0,Rural,N
118,LP001613,Female,No,0,Graduate,No,1762,2666,104.000000,360.000000,0.0,Urban,N
119,LP001622,Male,Yes,2,Graduate,No,724,3510,213.000000,360.000000,0.0,Rural,N
123,LP001652,Male,No,0,Graduate,No,2500,6414,187.000000,360.000000,0.0,Rural,N
124,LP001655,Female,No,0,Graduate,No,12500,0,300.000000,360.000000,0.0,Urban,N
126,LP001662,Male,No,0,Graduate,No,6500,0,71.000000,360.000000,0.0,Urban,N
140,LP001785,Male,No,0,Graduate,No,4727,0,150.000000,360.000000,0.0,Rural,N
142,LP001789,Male,Yes,3+,Not Graduate,No,6794,528,139.000000,360.000000,0.0,Urban,N
147,LP001817,Male,No,0,Not Graduate,Yes,8703,0,199.000000,360.000000,0.0,Rural,N
153,LP001853,Male,Yes,1,Not Graduate,No,2463,2360,117.000000,360.000000,0.0,Urban,N
161,LP001906,Male,No,0,Graduate,No,2964,0,84.000000,360.000000,0.0,Semiurban,N
165,LP001923,Male,No,0,Not Graduate,No,2268,0,170.000000,360.000000,0.0,Semiurban,N
166,LP001933,Male,No,2,Not Graduate,No,1141,2017,120.000000,360.000000,0.0,Urban,N
168,LP001950,Female,Yes,3+,Graduate,No,1750,2935,94.000000,360.000000,0.0,Semiurban,N
173,LP001979,Male,No,0,Graduate,No,3017,2845,159.000000,180.000000,0.0,Urban,N
174,LP001995,Male,Yes,0,Not Graduate,No,2431,1820,110.000000,360.000000,0.0,Rural,N
192,LP002069,Male,Yes,2,Not Graduate,No,3785,2912,180.000000,360.000000,0.0,Rural,N
193,LP002070,Male,Yes,3+,Not Graduate,No,2654,1998,128.000000,360.000000,0.0,Rural,N
196,LP002090,Male,Yes,1,Graduate,No,4796,0,114.000000,360.000000,0.0,Semiurban,N
198,LP002099,Male,Yes,2,Graduate,No,2540,700,104.000000,360.000000,0.0,Urban,N
211,LP002168,Male,No,0,Graduate,No,5333,2400,200.000000,360.000000,0.0,Rural,N
224,LP002256,Female,No,2,Graduate,Yes,5184,0,187.000000,360.000000,0.0,Semiurban,N
229,LP002286,Male,Yes,3+,Not Graduate,No,5180,0,125.000000,360.000000,0.0,Urban,N
235,LP002316,Male,No,0,Graduate,No,2231,2774,176.000000,360.000000,0.0,Urban,N
236,LP002321,Female,No,0,Graduate,No,2274,5211,117.000000,360.000000,0.0,Semiurban,N
241,LP002339,Male,Yes,0,Graduate,No,3887,1517,105.000000,360.000000,0.0,Semiurban,N
243,LP002346,Male,Yes,0,Graduate,No,2539,1704,125.000000,360.000000,0.0,Rural,N
245,LP002355,Male,Yes,0,Graduate,No,3186,3145,150.000000,180.000000,0.0,Semiurban,N
250,LP002383,Male,Yes,3+,Graduate,No,3242,437,142.000000,480.000000,0.0,Urban,N
255,LP002399,Male,No,0,Graduate,No,2858,0,123.000000,360.000000,0.0,Rural,N
266,LP002442,Female,Yes,1,Not Graduate,No,3835,1400,112.000000,480.000000,0.0,Urban,N
268,LP002450,Male,Yes,2,Graduate,No,5833,750,49.000000,360.000000,0.0,Rural,N
273,LP002495,Male,Yes,2,Graduate,No,5667,440,130.000000,360.000000,0.0,Semiurban,N
274,LP002496,Female,No,0,Graduate,No,3500,0,94.000000,360.000000,0.0,Semiurban,N
278,LP002551,Male,Yes,3+,Not Graduate,No,3634,910,176.000000,360.000000,0.0,Semiurban,N
293,LP002609,Female,Yes,0,Graduate,No,2241,2000,88.000000,360.000000,0.0,Urban,N
301,LP002651,Male,Yes,1,Graduate,No,6300,0,125.000000,360.000000,0.0,Urban,N
311,LP002747,Female,No,3+,Graduate,No,2366,5272,153.000000,360.000000,0.0,Rural,N
317,LP002774,Male,Yes,0,Not Graduate,No,1700,2900,67.000000,360.000000,0.0,Urban,N
325,LP002802,Male,No,0,Graduate,No,2875,2416,95.000000,6.000000,0.0,Semiurban,N
339,LP002858,Female,No,0,Graduate,No,4333,2333,162.000000,360.000000,0.0,Rural,N
346,LP002879,Male,Yes,0,Graduate,No,3391,1966,133.000000,360.000000,0.0,Rural,N
354,LP002921,Male,Yes,3+,Not Graduate,No,5316,187,158.000000,180.000000,0.0,Semiurban,N

In [99]:
L = pd.get_dummies(B1[imp_cat1])
Loan_amount=B1[imp_con1].join(L)

In [100]:
from sklearn.linear_model import LinearRegression
lm=LinearRegression()
model = lm.fit(Xnew,Y1)
predicted=model.predict(Loan_amount)

In [102]:
B1["Loan_Amount"]=predicted

In [103]:
B1

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Pred_LoanStatus,Loan_Amount
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.000000,360.000000,0.0,Rural,N,126.327984
13,LP001094,Male,Yes,2,Graduate,No,12173,0,166.000000,360.000000,0.0,Semiurban,N,215.055403
25,LP001153,Male,No,0,Graduate,No,0,24000,148.000000,360.000000,0.0,Rural,N,87.822026
35,LP001203,Male,No,0,Graduate,No,3150,0,176.000000,360.000000,0.0,Semiurban,N,114.549885
55,LP001313,Male,No,0,Graduate,No,2750,0,130.000000,360.000000,0.0,Urban,N,111.155871
58,LP001323,Female,Yes,2,Graduate,No,2779,3664,176.000000,360.000000,0.0,Semiurban,N,126.866592
63,LP001347,Female,No,0,Graduate,No,2101,1500,108.000000,360.000000,0.0,Rural,N,97.168687
66,LP001352,Male,Yes,0,Not Graduate,No,4700,0,135.000000,360.000000,0.0,Semiurban,N,123.803980
67,LP001358,Male,Yes,0,Graduate,No,3445,0,130.000000,360.000000,0.0,Semiurban,N,131.524773
69,LP001361,Male,Yes,0,Graduate,No,2458,5105,188.000000,360.000000,0.0,Rural,N,123.150044
80,LP001420,Male,Yes,3+,Graduate,No,3829,1103,163.000000,360.000000,0.0,Urban,N,149.906294
82,LP001445,Male,Yes,2,Not Graduate,No,4136,0,149.000000,480.000000,0.0,Rural,N,128.491668
84,LP001450,Male,Yes,0,Graduate,No,4456,0,131.000000,180.000000,0.0,Semiurban,N,140.103143
94,LP001496,Male,Yes,1,Graduate,No,4609,2333,123.000000,360.000000,0.0,Semiurban,N,151.794512
101,LP001542,Female,Yes,0,Graduate,No,2262,0,136.132597,480.000000,0.0,Semiurban,N,113.006581
106,LP001563,Male,No,0,Graduate,No,1596,1760,119.000000,360.000000,0.0,Urban,N,101.364141
117,LP001611,Male,Yes,1,Graduate,No,1516,2900,80.000000,342.537396,0.0,Rural,N,125.550300
118,LP001613,Female,No,0,Graduate,No,1762,2666,104.000000,360.000000,0.0,Urban,N,94.292261
119,LP001622,Male,Yes,2,Graduate,No,724,3510,213.000000,360.000000,0.0,Rural,N,117.910242
123,LP001652,Male,No,0,Graduate,No,2500,6414,187.000000,360.000000,0.0,Rural,N,109.034612
124,LP001655,Female,No,0,Graduate,No,12500,0,300.000000,360.000000,0.0,Urban,N,185.404562
126,LP001662,Male,No,0,Graduate,No,6500,0,71.000000,360.000000,0.0,Urban,N,142.974751
140,LP001785,Male,No,0,Graduate,No,4727,0,150.000000,360.000000,0.0,Rural,N,127.930784
142,LP001789,Male,Yes,3+,Not Graduate,No,6794,528,139.000000,360.000000,0.0,Urban,N,156.694910
147,LP001817,Male,No,0,Not Graduate,Yes,8703,0,199.000000,360.000000,0.0,Rural,N,154.754714
153,LP001853,Male,Yes,1,Not Graduate,No,2463,2360,117.000000,360.000000,0.0,Urban,N,115.216116
161,LP001906,Male,No,0,Graduate,No,2964,0,84.000000,360.000000,0.0,Semiurban,N,112.971668
165,LP001923,Male,No,0,Not Graduate,No,2268,0,170.000000,360.000000,0.0,Semiurban,N,88.696572
166,LP001933,Male,No,2,Not Graduate,No,1141,2017,120.000000,360.000000,0.0,Urban,N,88.607186
168,LP001950,Female,Yes,3+,Graduate,No,1750,2935,94.000000,360.000000,0.0,Semiurban,N,123.785511
173,LP001979,Male,No,0,Graduate,No,3017,2845,159.000000,180.000000,0.0,Urban,N,113.421375
174,LP001995,Male,Yes,0,Not Graduate,No,2431,1820,110.000000,360.000000,0.0,Rural,N,104.551436
192,LP002069,Male,Yes,2,Not Graduate,No,3785,2912,180.000000,360.000000,0.0,Rural,N,125.513421
193,LP002070,Male,Yes,3+,Not Graduate,No,2654,1998,128.000000,360.000000,0.0,Rural,N,121.566867
196,LP002090,Male,Yes,1,Graduate,No,4796,0,114.000000,360.000000,0.0,Semiurban,N,153.381213
198,LP002099,Male,Yes,2,Graduate,No,2540,700,104.000000,360.000000,0.0,Urban,N,133.319065
211,LP002168,Male,No,0,Graduate,No,5333,2400,200.000000,360.000000,0.0,Rural,N,133.072715
224,LP002256,Female,No,2,Graduate,Yes,5184,0,187.000000,360.000000,0.0,Semiurban,N,144.258241
229,LP002286,Male,Yes,3+,Not Graduate,No,5180,0,125.000000,360.000000,0.0,Urban,N,143.000064
235,LP002316,Male,No,0,Graduate,No,2231,2774,176.000000,360.000000,0.0,Urban,N,106.752138
236,LP002321,Female,No,0,Graduate,No,2274,5211,117.000000,360.000000,0.0,Semiurban,N,98.636598
241,LP002339,Male,Yes,0,Graduate,No,3887,1517,105.000000,360.000000,0.0,Semiurban,N,135.275159
243,LP002346,Male,Yes,0,Graduate,No,2539,1704,125.000000,360.000000,0.0,Rural,N,123.837332
245,LP002355,Male,Yes,0,Graduate,No,3186,3145,150.000000,180.000000,0.0,Semiurban,N,129.327149
250,LP002383,Male,Yes,3+,Graduate,No,3242,437,142.000000,480.000000,0.0,Urban,N,144.925579
255,LP002399,Male,No,0,Graduate,No,2858,0,123.000000,360.000000,0.0,Rural,N,112.072255
266,LP002442,Female,Yes,1,Not Graduate,No,3835,1400,112.000000,480.000000,0.0,Urban,N,118.377187
268,LP002450,Male,Yes,2,Graduate,No,5833,750,49.000000,360.000000,0.0,Rural,N,161.260284
273,LP002495,Male,Yes,2,Graduate,No,5667,440,130.000000,360.000000,0.0,Semiurban,N,159.851768
274,LP002496,Female,No,0,Graduate,No,3500,0,94.000000,360.000000,0.0,Semiurban,N,109.039251
278,LP002551,Male,Yes,3+,Not Graduate,No,3634,910,176.000000,360.000000,0.0,Semiurban,N,129.882201
293,LP002609,Female,Yes,0,Graduate,No,2241,2000,88.000000,360.000000,0.0,Urban,N,112.828396
301,LP002651,Male,Yes,1,Graduate,No,6300,0,125.000000,360.000000,0.0,Urban,N,166.142705
311,LP002747,Female,No,3+,Graduate,No,2366,5272,153.000000,360.000000,0.0,Rural,N,114.540489
317,LP002774,Male,Yes,0,Not Graduate,No,1700,2900,67.000000,360.000000,0.0,Urban,N,98.348876
325,LP002802,Male,No,0,Graduate,No,2875,2416,95.000000,6.000000,0.0,Semiurban,N,112.216500
339,LP002858,Female,No,0,Graduate,No,4333,2333,162.000000,360.000000,0.0,Rural,N,116.107285
346,LP002879,Male,Yes,0,Graduate,No,3391,1966,133.000000,360.000000,0.0,Rural,N,131.066581
354,LP002921,Male,Yes,3+,Not Graduate,No,5316,187,158.000000,180.000000,0.0,Semiurban,N,144.154029

In [104]:
T=pd.merge(left=B[["Loan_ID","Gender","Dependents","LoanAmount","Loan_Amount_Term","Pred_LoanStatus"]],right=B1[["Loan_ID","Loan_Amount"]],how="outer",left_on="Loan_ID",right_on="Loan_ID")
pd.set_option("display.max_rows",1000)

In [105]:
T

,Loan_ID,Gender,Dependents,LoanAmount,Loan_Amount_Term,Pred_LoanStatus,Loan_Amount
0,LP001015,Male,0,110.000000,360.000000,Y,NaN
1,LP001022,Male,1,126.000000,360.000000,Y,NaN
2,LP001031,Male,2,208.000000,360.000000,Y,NaN
3,LP001035,Male,2,100.000000,360.000000,Y,NaN
4,LP001051,Male,0,78.000000,360.000000,Y,NaN
5,LP001054,Male,0,152.000000,360.000000,Y,NaN
6,LP001055,Female,1,59.000000,360.000000,Y,NaN
7,LP001056,Male,2,147.000000,360.000000,N,126.327984
8,LP001059,Male,2,280.000000,240.000000,Y,NaN
9,LP001067,Male,0,123.000000,360.000000,Y,NaN
10,LP001078,Male,0,90.000000,360.000000,Y,NaN
11,LP001082,Male,1,162.000000,360.000000,Y,NaN
12,LP001083,Male,3+,40.000000,180.000000,Y,NaN
13,LP001094,Male,2,166.000000,360.000000,N,215.055403
14,LP001096,Female,0,124.000000,360.000000,Y,NaN
15,LP001099,Male,1,131.000000,360.000000,Y,NaN
16,LP001105,Male,2,200.000000,360.000000,Y,NaN
17,LP001107,Male,3+,126.000000,360.000000,Y,NaN
18,LP001108,Male,0,300.000000,360.000000,Y,NaN
19,LP001115,Male,0,100.000000,180.000000,Y,NaN
20,LP001121,Male,1,48.000000,360.000000,Y,NaN
21,LP001124,Female,3+,28.000000,180.000000,Y,NaN
22,LP001128,Male,0,101.000000,360.000000,Y,NaN
23,LP001135,Female,0,125.000000,360.000000,Y,NaN
24,LP001149,Male,0,290.000000,360.000000,Y,NaN
25,LP001153,Male,0,148.000000,360.000000,N,87.822026
26,LP001163,Male,2,140.000000,360.000000,Y,NaN
27,LP001169,Male,0,275.000000,360.000000,Y,NaN
28,LP001174,Male,0,57.000000,360.000000,Y,NaN
29,LP001176,Male,0,125.000000,180.000000,Y,NaN
30,LP001177,Female,0,75.000000,360.000000,Y,NaN
31,LP001183,Male,2,192.000000,360.000000,Y,NaN
32,LP001185,Male,0,152.000000,360.000000,Y,NaN
33,LP001187,Male,0,158.000000,360.000000,Y,NaN
34,LP001190,Male,0,101.000000,360.000000,Y,NaN
35,LP001203,Male,0,176.000000,360.000000,N,114.549885
36,LP001208,Male,2,185.000000,180.000000,Y,NaN
37,LP001210,Male,0,90.000000,360.000000,Y,NaN
38,LP001211,Male,0,116.000000,360.000000,Y,NaN
39,LP001219,Male,0,138.000000,360.000000,Y,NaN
40,LP001220,Male,0,100.000000,360.000000,Y,NaN
41,LP001221,Female,0,110.000000,360.000000,Y,NaN
42,LP001226,Male,0,90.000000,360.000000,Y,NaN
43,LP001230,Male,0,200.000000,360.000000,Y,NaN
44,LP001231,Female,0,84.000000,360.000000,Y,NaN
45,LP001232,Male,0,185.000000,342.537396,Y,NaN
46,LP001237,Male,0,162.000000,360.000000,Y,NaN
47,LP001242,Male,0,108.000000,360.000000,Y,NaN
48,LP001268,Male,0,187.000000,342.537396,Y,NaN
49,LP001270,Male,3+,187.000000,360.000000,Y,NaN
50,LP001284,Male,1,124.000000,360.000000,Y,NaN
51,LP001287,Male,3+,120.000000,360.000000,Y,NaN
52,LP001291,Male,1,160.000000,360.000000,Y,NaN
53,LP001298,Male,2,30.000000,180.000000,Y,NaN
54,LP001312,Male,0,92.000000,360.000000,Y,NaN
55,LP001313,Male,0,130.000000,360.000000,N,111.155871
56,LP001317,Female,0,130.000000,360.000000,Y,NaN
57,LP001321,Male,2,134.000000,180.000000,Y,NaN
58,LP001323,Female,2,176.000000,360.000000,N,126.866592
59,LP001324,Male,3+,90.000000,180.000000,Y,NaN
60,LP001332,Male,0,110.000000,360.000000,Y,NaN
61,LP001335,Male,0,125.000000,360.000000,Y,NaN
62,LP001338,Female,2,189.000000,360.000000,Y,NaN
63,LP001347,Female,0,108.000000,360.000000,N,97.168687
64,LP001348,Male,3+,125.000000,360.000000,Y,NaN
65,LP001351,Male,0,138.000000,360.000000,Y,NaN
66,LP001352,Male,0,135.000000,360.000000,N,123.803980
67,LP001358,Male,0,130.000000,360.000000,N,131.524773
68,LP001359,Male,0,187.000000,360.000000,Y,NaN
69,LP001361,Male,0,188.000000,360.000000,N,123.150044
70,LP001366,Female,0,95.000000,360.000000,Y,NaN
71,LP001368,Male,0,65.000000,360.000000,Y,NaN
72,LP001375,Male,1,139.000000,60.000000,Y,NaN
73,LP001380,Male,0,232.000000,360.000000,Y,NaN
74,LP001386,Male,0,144.000000,360.000000,Y,NaN
75,LP001400,Male,0,155.000000,360.000000,Y,NaN
76,LP001407,Male,0,186.000000,360.000000,Y,NaN
77,LP001413,Male,0,50.000000,360.000000,Y,NaN
78,LP001415,Male,1,136.132597,360.000000,Y,NaN
79,LP001419,Female,0,185.000000,360.000000,Y,NaN
80,LP001420,Male,3+,163.000000,360.000000,N,149.906294
81,LP001428,Male,3+,360.000000,360.000000,Y,NaN
82,LP001445,Male,2,149.000000,480.000000,N,128.491668
83,LP001446,Male,0,257.000000,360.000000,Y,NaN
84,LP001450,Male,0,131.000000,180.000000,N,140.103143
85,LP001452,Male,2,102.000000,180.000000,Y,NaN
86,LP001455,Male,0,135.000000,360.000000,Y,NaN
87,LP001466,Male,0,95.000000,360.000000,Y,NaN
88,LP001471,Male,2,77.000000,360.000000,Y,NaN
89,LP001472,Female,0,200.000000,360.000000,Y,NaN
90,LP001475,Male,0,130.000000,360.000000,Y,NaN
91,LP001483,Male,3+,390.000000,360.000000,Y,NaN
92,LP001486,Male,1,185.000000,360.000000,Y,NaN
93,LP001490,Male,2,100.000000,360.000000,Y,NaN
94,LP001496,Male,1,123.000000,360.000000,N,151.794512
95,LP001499,Female,3+,110.000000,360.000000,Y,NaN
96,LP001500,Male,1,256.000000,360.000000,Y,NaN
97,LP001501,Male,0,140.000000,360.000000,Y,NaN
98,LP001517,Male,3+,61.000000,360.000000,Y,NaN
99,LP001527,Male,3+,188.000000,360.000000,Y,NaN
100,LP001534,Male,0,131.000000,360.000000,Y,NaN
101,LP001542,Female,0,136.132597,480.000000,N,113.006581
102,LP001547,Male,1,116.000000,360.000000,Y,NaN
103,LP001548,Male,2,50.000000,180.000000,Y,NaN
104,LP001558,Male,0,107.000000,360.000000,Y,NaN
105,LP001561,Female,0,200.000000,360.000000,Y,NaN
106,LP001563,Male,0,119.000000,360.000000,N,101.364141
107,LP001567,Male,3+,120.000000,360.000000,Y,NaN
108,LP001568,Male,0,140.000000,360.000000,Y,NaN
109,LP001573,Male,0,165.000000,360.000000,Y,NaN
110,LP001584,Female,0,108.000000,360.000000,Y,NaN
111,LP001587,Male,0,93.000000,360.000000,Y,NaN
112,LP001589,Female,0,102.000000,360.000000,Y,NaN
113,LP001591,Female,2,122.000000,360.000000,Y,NaN
114,LP001599,Male,0,160.000000,360.000000,Y,NaN
115,LP001601,Male,3+,157.000000,360.000000,Y,NaN
116,LP001607,Female,0,180.000000,360.000000,Y,NaN
117,LP001611,Male,1,80.000000,342.537396,N,125.550300
118,LP001613,Female,0,104.000000,360.000000,N,94.292261
119,LP001622,Male,2,213.000000,360.000000,N,117.910242
120,LP001627,Male,0,65.000000,360.000000,Y,NaN
121,LP001650,Male,0,146.000000,360.000000,Y,NaN
122,LP001651,Male,3+,135.000000,360.000000,Y,NaN
123,LP001652,Male,0,187.000000,360.000000,N,109.034612
124,LP001655,Female,0,300.000000,360.000000,N,185.404562
125,LP001660,Male,0,120.000000,360.000000,Y,NaN
126,LP001662,Male,0,71.000000,360.000000,N,142.974751
127,LP001663,Male,2,225.000000,360.000000,Y,NaN
128,LP001667,Male,0,70.000000,180.000000,Y,NaN
129,LP001695,Male,1,70.000000,342.537396,Y,NaN
130,LP001703,Male,0,124.000000,360.000000,Y,NaN
131,LP001718,Male,0,132.000000,360.000000,Y,NaN
132,LP001728,Male,1,105.000000,360.000000,Y,NaN
133,LP001735,Female,1,90.000000,360.000000,Y,NaN
134,LP001737,Male,0,83.000000,84.000000,Y,NaN
135,LP001739,Male,0,125.000000,360.000000,Y,NaN
136,LP001742,Male,2,147.000000,360.000000,Y,NaN
137,LP001757,Male,1,120.000000,360.000000,Y,NaN
138,LP001769,Male,0,110.000000,360.000000,Y,NaN
139,LP001771,Female,3+,103.000000,360.000000,Y,NaN
140,LP001785,Male,0,150.000000,360.000000,N,127.930784
141,LP001787,Male,3+,100.000000,240.000000,Y,NaN
142,LP001789,Male,3+,139.000000,360.000000,N,156.694910
143,LP001791,Male,0,550.000000,360.000000,Y,NaN
144,LP001794,Male,2,260.000000,12.000000,Y,NaN
145,LP001797,Female,0,150.000000,300.000000,Y,NaN
146,LP001815,Male,0,90.000000,360.000000,Y,NaN
147,LP001817,Male,0,199.000000,360.000000,N,154.754714
148,LP001818,Male,1,139.000000,360.000000,Y,NaN
149,LP001822,Male,0,150.000000,360.000000,Y,NaN
150,LP001827,Male,0,180.000000,360.000000,Y,NaN
151,LP001831,Male,0,113.000000,360.000000,Y,NaN
152,LP001842,Male,0,148.000000,360.000000,Y,NaN
153,LP001853,Male,1,117.000000,360.000000,N,115.216116
154,LP001855,Male,2,72.000000,360.000000,Y,NaN
155,LP001857,Male,0,125.000000,300.000000,Y,NaN
156,LP001862,Male,2,214.000000,360.000000,Y,NaN
157,LP001867,Male,0,133.000000,350.000000,Y,NaN
158,LP001878,Male,1,187.000000,360.000000,Y,NaN
159,LP001881,Male,0,143.000000,360.000000,Y,NaN
160,LP001886,Male,0,209.000000,360.000000,Y,NaN
161,LP001906,Male,0,84.000000,360.000000,N,112.971668
162,LP001909,Male,0,116.000000,360.000000,Y,NaN
163,LP001911,Female,0,65.000000,360.000000,Y,NaN
164,LP001921,Male,1,80.000000,240.000000,Y,NaN
165,LP001923,Male,0,170.000000,360.000000,N,88.696572
166,LP001933,Male,2,120.000000,360.000000,N,88.607186
167,LP001943,Male,0,135.000000,360.000000,Y,NaN
168,LP001950,Female,3+,94.000000,360.000000,N,123.785511
169,LP001959,Female,1,79.000000,360.000000,Y,NaN
170,LP001961,Female,0,110.000000,360.000000,Y,NaN
171,LP001973,Male,2,130.000000,360.000000,Y,NaN
172,LP001975,Male,0,143.000000,360.000000,Y,NaN
173,LP001979,Male,0,159.000000,180.000000,N,113.421375
174,LP001995,Male,0,110.000000,360.000000,N,104.551436
175,LP001999,Male,2,160.000000,360.000000,Y,NaN
176,LP002007,Male,2,131.000000,360.000000,Y,NaN
177,LP002009,Female,0,65.000000,360.000000,Y,NaN
178,LP002016,Male,2,143.000000,360.000000,Y,NaN
179,LP002017,Male,3+,187.000000,360.000000,Y,NaN
180,LP002018,Male,2,160.000000,360.000000,Y,NaN
181,LP002027,Male,0,165.000000,360.000000,Y,NaN
182,LP002028,Male,2,110.000000,360.000000,Y,NaN
183,LP002042,Female,1,173.000000,360.000000,Y,NaN
184,LP002045,Male,3+,150.000000,342.537396,Y,NaN
185,LP002046,Male,0,135.000000,360.000000,Y,NaN
186,LP002047,Male,2,150.000000,360.000000,Y,NaN
187,LP002056,Male,2,235.000000,360.000000,Y,NaN
188,LP002057,Male,0,136.132597,360.000000,Y,NaN
189,LP002059,Male,2,336.000000,360.000000,Y,NaN
190,LP002062,Female,1,132.000000,84.000000,Y,NaN
191,LP002064,Male,0,96.000000,360.000000,Y,NaN
192,LP002069,Male,2,180.000000,360.000000,N,125.513421
193,LP002070,Male,3+,128.000000,360.000000,N,121.566867
194,LP002077,Male,1,412.000000,360.000000,Y,NaN
195,LP002083,Male,0,116.000000,360.000000,Y,NaN
196,LP002090,Male,1,114.000000,360.000000,N,153.381213
197,LP002096,Male,0,115.000000,360.000000,Y,NaN
198,LP002099,Male,2,104.000000,360.000000,N,133.319065
199,LP002102,Male,0,88.000000,360.000000,Y,NaN
200,LP002105,Male,0,108.000000,480.000000,Y,NaN
201,LP002107,Male,3+,90.000000,360.000000,Y,NaN
202,LP002111,Male,0,100.000000,360.000000,Y,NaN
203,LP002117,Female,0,108.000000,360.000000,Y,NaN
204,LP002118,Female,0,78.000000,360.000000,Y,NaN
205,LP002123,Male,0,123.000000,360.000000,Y,NaN
206,LP002125,Male,1,187.000000,360.000000,Y,NaN
207,LP002148,Male,1,146.000000,360.000000,Y,NaN
208,LP002152,Female,0,80.000000,360.000000,Y,NaN
209,LP002165,Male,1,100.000000,360.000000,Y,NaN
210,LP002167,Female,0,55.000000,360.000000,Y,NaN
211,LP002168,Male,0,200.000000,360.000000,N,133.072715
212,LP002172,Male,3+,150.000000,360.000000,Y,NaN
213,LP002176,Male,0,150.000000,360.000000,Y,NaN
214,LP002183,Male,0,118.000000,342.537396,Y,NaN
215,LP002184,Male,0,150.000000,300.000000,Y,NaN
216,LP002186,Male,0,118.000000,36.000000,Y,NaN
217,LP002192,Male,0,212.000000,360.000000,Y,NaN
218,LP002195,Male,1,212.000000,360.000000,Y,NaN
219,LP002208,Male,1,125.000000,360.000000,Y,NaN
220,LP002212,Male,0,108.000000,360.000000,Y,NaN
221,LP002240,Male,0,149.000000,360.000000,Y,NaN
222,LP002245,Male,2,80.000000,480.000000,Y,NaN
223,LP002253,Female,1,152.000000,300.000000,Y,NaN
224,LP002256,Female,2,187.000000,360.000000,N,144.258241
225,LP002257,Female,0,74.000000,360.000000,Y,NaN
226,LP002264,Male,0,102.000000,360.000000,Y,NaN
227,LP002270,Male,1,100.000000,360.000000,Y,NaN
228,LP002279,Male,0,130.000000,360.000000,Y,NaN
229,LP002286,Male,3+,125.000000,360.000000,N,143.000064
230,LP002294,Male,0,130.000000,360.000000,Y,NaN
231,LP002298,Male,0,138.000000,360.000000,Y,NaN
232,LP002306,Male,0,28.000000,180.000000,Y,NaN
233,LP002310,Female,1,92.000000,360.000000,Y,NaN
234,LP002311,Female,0,104.000000,360.000000,Y,NaN
235,LP002316,Male,0,176.000000,360.000000,N,106.752138
236,LP002321,Female,0,117.000000,360.000000,N,98.636598
237,LP002325,Male,2,102.000000,360.000000,Y,NaN
238,LP002326,Male,2,107.000000,360.000000,Y,NaN
239,LP002329,Male,0,66.000000,480.000000,Y,NaN
240,LP002333,Male,0,105.000000,360.000000,Y,NaN
241,LP002339,Male,0,105.000000,360.000000,N,135.275159
242,LP002344,Male,0,105.000000,360.000000,Y,NaN
243,LP002346,Male,0,125.000000,360.000000,N,123.837332
244,LP002354,Female,0,64.000000,360.000000,Y,NaN
245,LP002355,Male,0,150.000000,180.000000,N,129.327149
246,LP002358,Male,2,150.000000,360.000000,Y,NaN
247,LP002360,Male,0,136.132597,360.000000,Y,NaN
248,LP002375,Male,0,64.000000,360.000000,Y,NaN
249,LP002376,Male,0,40.000000,180.000000,Y,NaN
250,LP002383,Male,3+,142.000000,480.000000,N,144.925579
251,LP002385,Male,0,70.000000,300.000000,Y,NaN
252,LP002389,Female,1,131.000000,360.000000,Y,NaN
253,LP002394,Male,2,120.000000,360.000000,Y,NaN
254,LP002397,Female,1,114.000000,360.000000,Y,NaN
255,LP002399,Male,0,123.000000,360.000000,N,112.072255
256,LP002400,Female,0,92.000000,360.000000,Y,NaN
257,LP002402,Male,0,160.000000,360.000000,Y,NaN
258,LP002412,Male,0,151.000000,360.000000,Y,NaN
259,LP002415,Female,1,81.000000,360.000000,Y,NaN
260,LP002417,Male,3+,171.000000,360.000000,Y,NaN
261,LP002420,Male,0,110.000000,360.000000,Y,NaN
262,LP002425,Male,0,100.000000,360.000000,Y,NaN
263,LP002433,Male,1,234.000000,360.000000,Y,NaN
264,LP002440,Male,2,184.000000,360.000000,Y,NaN
265,LP002441,Male,0,138.000000,360.000000,Y,NaN
266,LP002442,Female,1,112.000000,480.000000,N,118.377187
267,LP002445,Female,1,117.000000,360.000000,Y,NaN
268,LP002450,Male,2,49.000000,360.000000,N,161.260284
269,LP002471,Male,0,99.000000,360.000000,Y,NaN
270,LP002476,Female,3+,99.000000,360.000000,Y,NaN
271,LP002482,Female,0,212.000000,360.000000,Y,NaN
272,LP002485,Male,1,240.000000,360.000000,Y,NaN
273,LP002495,Male,2,130.000000,360.000000,N,159.851768
274,LP002496,Female,0,94.000000,360.000000,N,109.039251
275,LP002523,Male,3+,108.000000,360.000000,Y,NaN
276,LP002542,Male,0,144.000000,360.000000,Y,NaN
277,LP002550,Female,0,110.000000,180.000000,Y,NaN
278,LP002551,Male,3+,176.000000,360.000000,N,129.882201
279,LP002553,Male,0,185.000000,360.000000,Y,NaN
280,LP002554,Male,0,122.000000,360.000000,Y,NaN
281,LP002561,Male,0,126.000000,360.000000,Y,NaN
282,LP002566,Female,0,135.000000,360.000000,Y,NaN
283,LP002568,Male,0,122.000000,360.000000,Y,NaN
284,LP002570,Female,2,460.000000,360.000000,Y,NaN
285,LP002572,Male,1,297.000000,360.000000,Y,NaN
286,LP002581,Male,0,140.000000,360.000000,Y,NaN
287,LP002584,Male,0,106.000000,360.000000,Y,NaN
288,LP002592,Male,0,141.000000,360.000000,Y,NaN
289,LP002593,Male,1,136.132597,360.000000,Y,NaN
290,LP002599,Male,0,170.000000,360.000000,Y,NaN
291,LP002604,Male,2,145.000000,360.000000,Y,NaN
292,LP002605,Male,0,90.000000,360.000000,Y,NaN
293,LP002609,Female,0,88.000000,360.000000,N,112.828396
294,LP002610,Male,1,128.000000,360.000000,Y,NaN
295,LP002612,Female,0,84.000000,480.000000,Y,NaN
296,LP002614,Male,0,108.000000,360.000000,Y,NaN
297,LP002630,Male,0,83.000000,360.000000,Y,NaN
298,LP002635,Female,2,117.000000,360.000000,Y,NaN
299,LP002639,Male,2,128.000000,360.000000,Y,NaN
300,LP002644,Male,1,75.000000,360.000000,Y,NaN
301,LP002651,Male,1,125.000000,360.000000,N,166.142705
302,LP002654,Female,0,177.000000,360.000000,Y,NaN
303,LP002657,Male,1,68.000000,360.000000,Y,NaN
304,LP002711,Male,0,96.000000,360.000000,Y,NaN
305,LP002712,Male,2,180.000000,360.000000,Y,NaN
306,LP002721,Male,2,183.000000,360.000000,Y,NaN
307,LP002735,Male,2,121.000000,360.000000,Y,NaN
308,LP002744,Male,1,162.000000,360.000000,Y,NaN
309,LP002745,Male,0,132.000000,360.000000,Y,NaN
310,LP002746,Male,0,147.000000,360.000000,Y,NaN
311,LP002747,Female,3+,153.000000,360.000000,N,114.540489
312,LP002754,Male,0,104.000000,84.000000,Y,NaN
313,LP002759,Male,2,149.000000,360.000000,Y,NaN
314,LP002760,Female,0,134.000000,300.000000,Y,NaN
315,LP002766,Female,0,165.000000,180.000000,Y,NaN
316,LP002769,Female,0,120.000000,360.000000,Y,NaN
317,LP002774,Male,0,67.000000,360.000000,N,98.348876
318,LP002775,Male,0,125.000000,360.000000,Y,NaN
319,LP002781,Male,0,120.000000,360.000000,Y,NaN
320,LP002782,Male,1,148.000000,360.000000,Y,NaN
321,LP002786,Female,0,181.000000,360.000000,Y,NaN
322,LP002790,Male,3+,80.000000,120.000000,Y,NaN
323,LP002791,Male,1,40.000000,360.000000,Y,NaN
324,LP002793,Male,0,90.000000,360.000000,Y,NaN
325,LP002802,Male,0,95.000000,6.000000,N,112.216500
326,LP002803,Male,1,122.000000,360.000000,Y,NaN
327,LP002805,Male,2,150.000000,360.000000,Y,NaN
328,LP002806,Male,3+,150.000000,360.000000,Y,NaN
329,LP002816,Male,1,104.000000,360.000000,Y,NaN
330,LP002823,Male,0,143.000000,360.000000,Y,NaN
331,LP002825,Male,3+,300.000000,360.000000,Y,NaN
332,LP002826,Female,1,171.000000,360.000000,Y,NaN
333,LP002843,Female,0,113.000000,360.000000,Y,NaN
334,LP002849,Male,0,35.000000,360.000000,Y,NaN
335,LP002850,Male,2,46.000000,360.000000,Y,NaN
336,LP002853,Female,0,145.000000,360.000000,Y,NaN
337,LP002856,Male,0,119.000000,360.000000,Y,NaN
338,LP002857,Male,1,87.000000,240.000000,Y,NaN
339,LP002858,Female,0,162.000000,360.000000,N,116.107285
340,LP002860,Male,0,122.000000,180.000000,Y,NaN
341,LP002867,Male,0,187.000000,360.000000,Y,NaN
342,LP002869,Male,3+,81.000000,180.000000,Y,NaN
343,LP002870,Male,1,80.000000,360.000000,Y,NaN
344,LP002876,Male,0,176.000000,360.000000,Y,NaN
345,LP002878,Male,3+,260.000000,360.000000,Y,NaN
346,LP002879,Male,0,133.000000,360.000000,N,131.066581
347,LP002885,Male,0,70.000000,360.000000,Y,NaN
348,LP002890,Male,2,135.000000,360.000000,Y,NaN
349,LP002891,Male,0,137.000000,300.000000,Y,NaN
350,LP002899,Male,2,254.000000,360.000000,Y,NaN
351,LP002901,Male,0,106.000000,360.000000,Y,NaN
352,LP002907,Male,0,109.000000,360.000000,Y,NaN
353,LP002920,Male,0,120.000000,360.000000,Y,NaN
354,LP002921,Male,3+,158.000000,180.000000,N,144.154029
355,LP002932,Male,3+,197.000000,360.000000,Y,NaN
356,LP002935,Male,1,85.000000,360.000000,Y,NaN
357,LP002952,Male,0,60.000000,360.000000,Y,NaN
358,LP002954,Male,2,76.000000,360.000000,Y,NaN
359,LP002962,Male,0,152.000000,360.000000,Y,NaN
360,LP002965,Female,0,96.000000,360.000000,Y,NaN
361,LP002969,Male,1,99.000000,360.000000,Y,NaN
362,LP002971,Male,3+,113.000000,360.000000,Y,NaN
363,LP002975,Male,0,115.000000,360.000000,Y,NaN
364,LP002980,Male,0,126.000000,360.000000,Y,NaN
365,LP002986,Male,0,158.000000,360.000000,Y,NaN
366,LP002989,Male,0,98.000000,180.000000,Y,NaN

In [106]:
T.to_excel("LoanStatus1.xlsx")
T.to_csv("LoanStatus1.csv")